<!DOCTYPE html>
<html class="htmle" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>HOTAB | Aboutus</title>
  <link rel="shortcut icon" type="image/jpg" href="./assest/img/fav.png"/>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="./assest/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="./assest/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href="./assest/css/blog.css" rel="stylesheet">
</head>

<body class="what bodye">

     <!-- move to top button -->
     <a class="topbtn z-depth-2" id="myBtn" onclick="topFunction()" title="Go to top"><i class="fas fa-arrow-up"></i></a>

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg white navbar-light fixed-top">
    <div class="container">
           <!-- Navbar brand -->
           <a class="navbar-brand font-weight-bold black-text fadeInDown animated slow" href="index.html"><img style="width: 10em;" src="./assest/img/logo2.png"  alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
          aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
          <!-- Links -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item pr-3  fadeInDown animated slow">
              <a class="nav-link black-text whatd font-weight-bold" href="/">Home</a>
            </li>
            <li class="nav-item pr-3  fadeInDown animated slow">
              <a class="nav-link black-text whatd font-weight-bold" href="aboutus.html">About Us</a>
            </li>
            <li class="nav-item pr-3  fadeInDown animated slow">
              <a class="nav-link black-text  whatd  font-weight-bold" href="services.html">Our Service</a>
            </li>
            <li class="nav-item pr-3  fadeInDown animated slow">
              <a class="nav-link black-text  whatd  font-weight-bold" href="blog.html">Blog</a>
            </li>
            <li class="nav-item  fadeInDown animated slow">
              <a class="nav-link black-text  whatd  font-weight-bold" href="/contactus.html">Contact</a>
            </li>
            <li class="nav-item  fadeInDown animated slow">
              <a class="nav-link black-text  whatd  font-weight-bold" href="/product.html">Products</a>
            </li>
          </ul>
          <!-- Links -->
         
        </div>
    </div>
    
  </nav>
  <!--/.Navbar -->




<!-- progress bar -->
<div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
   <!-- progress bar -->






     <!-- the intro image -->
     <div id="aboutus" class="view fadeInDown animated slow">
        <div class="mask rgba-blue-light">
           <div class="rose text-center">
                    <!-- Heading -->
                     <h2 class="font-weight-bold serv white-text">Our Services</h2>
                    <!-- Description -->
                     <span class="white-text spans">A leading firm, with utmost specialty in providing your business with the best and most effective of prospects and schemes to make it grow even beyond your imagination.</span>
              </div>
            </div>
       </div>
     <!-- the intro image -->





      <!-- the services -->

  <!-- row -->
  <div class="container mt-5">
  <div class="row">



        <!-- branding-->
            <div class="col-md-6 mb-5 fadeInLeft animated slow">

                <h4 class="my-4 heading">About HOTAB solutions</h4>
                <p class="grey-text dear">HOTAB Solutions is a leading firm, best tag it as a spring in the desert, with utmost specialty cum expertise in providing your business with the best and most effective of prospects and schemes to make it grow even beyond your imagination. With a clear vision propelled for expansion, we provide exquisite services like business assurance, consultancy, financial advisory, risk advisory, online advertisement and delivery, web and software application deployment services among several other sibling services. We've got a whole goody bag of quality for you and we can't even wait for you to unpack.</p>
            </div>
      
         <div class="col-md-6 mb-5 fadeInRight animated slow">
                <img src="./assest/img/bg-img.jpg" class="img-fluid text-center z-depth-2" alt="" srcset="">
        </div>
      <!-- branding -->

    </div>
</div>



<!-- what is more -->
<div class="container">
    <h4 class="my-4 heading">What is more?</h4>
    <p class="grey-text dear">With a spider network of member firms and related entities all over the country and across territories, so also our online services cuts across countries and borders. So be rest assured, wheresoever the sail takes you, our firm surely is no alien to your planet. Simply put, HOTAB Solutions got all the perfect codes for your business growth. Regardless of the scale of business you might be bringing to the table, our services are always home and handy to regulate. You shouldn't worry so much when it's raining, we've got you covered. <br><br>

        The jolly news is we are capable of handling your business with an unbeaten guarantee of solid turnover, you can be assured of us not deserting you in the middle of the desert. Right from the registration process to the business projection et al, we are ever ready to ensure everything works in the right direction for you. We've got the wings, hop on and fly! <br><br>
        
        Our exquisite, relishing services are well curated to delight both multinationals, large national enterprises, small - medium sized enterprises, public and private sectors all over West Africa and the world. <br><br>
        
        Presently (and even undisputably in the nearest future), HOTAB Solutions is a leading professional services firm, specializing in business consult and branding, internet marketing services, risk advisory, financial advisory services and software and web applications deployment services. Best call us a pacesetter and frontier firm, we serve clients in a variety of industries from financial services, consumer, telecommunications, media and technology, energy resources and industrial and government and public services. <br><br>
        
        Our experts are collectively brought together under an harmonious roof by a joint, collaborative culture that mirrors sheer integrity cum discipline, outstanding value to markets and clients, commitment to each other and tapped strengths from cultural diversity. Driven by a mutual goal to enforce corporate responsibility, build public trust and stamp a positive impact in the community and vast territory at large. <br>
        
        Here in HOTAB Solutions, we've beyond words but deliberate actions ensured our professionals cum employees hold the very best of interests as regards work and life to heart, hence our unflinching promise to support them in every endeavors of their lives. <br><br>
        
        Our gifted yet skilled experts understand the need to learn and unlearn more as no one is strong enough to posit as a universal island. Yet even within this learning process, there is evident strength put in development quest and most importantly, seeing to the very last of the trump card that HOTAB Solutions does not fall short of any of her promises except if to even exceed tremendously, as it's our culture.</p>
</div>
<!-- what is more -->





















  




  <!-- contact us section -->
  <div class="container" data-aos="fade">
    <div class="contain mt-5">
        <h3 class="text-center wey">Contact Us</h3>
        <p class="text-center griy font-weight-bold">Let us handle your project, professionally</p>
        <form action="" class="">
          <div class="form-group">
            <label class="sr-only">Email</label>
            <input type="text" class="form-control" placeholder="Your email address">
        </div>
          <div class="form-group">
              <label class="sr-only">Name</label>
              <input type="text" class="form-control" placeholder="Your name / company's name">
          </div>
          <div class="form-group">
            <label class="sr-only">message</label>
              <textarea name="" placeholder="Your message" id="" class="form-control" cols="30" rows="10"></textarea>
           </div>
        </form>
      <p class="text-right"><a href="" class="btn btn-primary">SUBMIT</a></p>
      </div>
    </div>
     
    <!-- contact us section -->












    <!-- Footer -->
<footer class="page-footer font-small whit z-depth-5 mt-5" data-aos="fade">
    <div class="container">
      <!-- Footer Links -->
      <div class="container text-center text-md-left">
    
        <!-- Grid row -->
        <div class="row">
    
          <!-- Grid column -->
          <div class="col-md-6 col-sm-4 mx-auto">
    
            <!-- Links -->
            <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5> -->
            <div class="mt-1">
              <img src="./assest/img/logo2.png" style="width: 10em;" alt=""><span class="">
              <p class="mt-2 black-text">A leading firm, with utmost specialty in providing your business with the best and most effective of prospects and schemes to make it grow even beyond your imagination.</p>
            </div>
           
            
    
          </div>
          <!-- Grid column -->
    
          <hr class="clearfix w-100 d-md-none">
    
          <!-- Grid column -->
          <div class="col-md-3 col-sm-4 mx-auto">
    
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-2 black-text">COMPANY</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="black-text">About Us</a>
              </li>
              <li>
                <a href="#!" class="black-text">Our Service</a>
              </li>
              <li>
                <a href="#!" class="black-text">Blog</a>
              </li>
              <li>
                <a href="#!" class="black-text">Contact Us</a>
              </li>
            </ul>
    
          </div>
          <!-- Grid column -->
    
          <hr class="clearfix w-100 d-md-none">
    
          <!-- Grid column -->
          <div class="col-md-3 col-sm-4 mx-auto">
    
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-2 black-text">SOCIALS</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="black-text"><img src="./assest/img/Path.png" alt="" srcset=""> Facebook</a>
              </li>
              <li>
                <a href="#!" class="black-text"><img src="./assest/img/twitter.png" alt="" srcset=""> Twitter</a>
              </li>
              <li>
                <a href="#!" class="black-text"><img src="./assest/img/email.png" alt="" srcset=""> Email</a>
              </li>
              <li>
                <a href="#!" class="black-text"><img src="./assest/img/call.png" alt="" srcset="">  +2348181400105</a>
              </li>
            </ul>
    
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
      </div>
      <!-- Footer Links -->
    
      <!-- Copyright -->
    
    
    
      
      <div class=" py-3 white z-depth-5 cola">
        <!-- row -->
        <div class="row">
          <!-- grid column -->
          <div class="col-md-6 text-center">
            
            <span class="black-text">Copyright © 2020 <a class="black-text" href="https://mdbootstrap.com/">HOTAB Solutions. All rights reserved</a></span>
          </div>
          <!-- grid column -->
    
          <!-- grid column -->
          <div class="col-md-6 text-center">
            <span class="black-text">9, Ugochukwu duku street Lekki Lagos</span> 
          </div>
          <!-- grid column -->
    
    </div>
     <!-- row -->
    </div>
      <!-- Copyright -->
    </div>
    <!-- contaier -->
    </footer>
    <!-- Footer -->

  
  
  




  










    <!-- SCRIPTS -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <!-- JQuery -->
  <script type="text/javascript" src="./assest/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="./assest/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="./assest/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="./assest/js/mdb.min.js"></script>
  <script src="./assest/js/scripts.js"></script>
  <!-- <script src="js/top.js"></script> -->
</body>

</html>
