<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hotab | About</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="css/bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link rel='stylesheet' type='text/css' media='screen' href='assest/about/sass/style.css'>
    
</head>
<body>
    <!-- <div class="container"> -->
    <header class="header">
        <nav class="nav">
            <div class="logo-box">
                <img style="width: 6em;" src="./assest/home/img/logo2.png"  alt="">
            </div>
           
            <div class="nav-links">
                <a href="index.html" class="nav-link active">Home</a>
                <a href="aboutus.html" class="nav-link ">About Us</a>
                <a href="services.html" class="nav-link">Our Services</a>
                <a href="blog.html" class="nav-link">Blog</a>
                <a href="index.html?#contactus" class="nav-link">Contact Us</a>

                <button class="nav-btn">Get in touch</button>
            </div>
        </nav>
        <div class="banner">
            <div class="banner-text-box">
                <h1 class="heading">About Us</h1>
                <p class="para">A leading firm, with utmost specialty in providing your business with the best and most effective of prospects and schemes to make it grow even beyond your imagination.</p>
            </div>
        </div>
    </header>
    
    <section class="about-hotab">
        <div class="container">
            <div class="row">
                <div class="side-text col-lg-6 col-md-12 col-sm-12">
                    <h3 class="section-heading">About <span>hotab</span> solutions</h3>
                    <p class="section-para">
                        HOTAB Solutions is a leading firm, best tag it as a spring in the desert, with utmost specialty cum expertise in providing your business with the best and most effective of prospects and schemes to make it grow even beyond your imagination. With a clear vision propelled for expansion, we provide exquisite services like business assurance, consultancy, financial advisory, risk advisory, online advertisement and delivery, web and software application deployment services among several other sibling services. We've got a whole goody bag of quality for you and we can't even wait for you to unpack.  

                        THE GOOD NEWS is —   With a spider network of member firms and related entities all over the country and across territories, so also our online services cuts across countries and borders. So be rest assured, wheresoever the sail takes you, our firm surely is no alien to your planet.   

                        Our exquisite, relishing services are well curated to delight both multinationals, large national enterprises, small - medium sized enterprises, public and private sectors all over West Africa and the world. 

    
                    </p>
                </div>
                <div class="side-img col-lg-6 col-md-12 col-sm-12">
                    <img src="./img/bg-img.jpg" alt="" class="">
                </div>
            </div>
        </div>
    </section>

    <section class="more">
        <div class="container">
            <h3 class="section-heading">What is more?</h3>
        <p class="section-para">
            With a spider network of member firms and related entities all over the country and across territories, so also our online services cuts across countries and borders. So be rest assured, wheresoever the sail takes you, our firm surely is no alien to your planet.   Simply put, HOTAB Solutions got all the perfect codes for your business growth. Regardless of the scale of business you might be bringing to the table, our services are always home and handy to regulate. You shouldn't worry so much when it's raining, we've got you covered. <br><br>

            The jolly news is we are capable of handling your business with an unbeaten guarantee of solid turnover, you can be assured of us not deserting you in the middle of the desert. Right from the registration process to the business projection et al, we are ever ready to ensure everything works in the right direction for you. We've got the wings, hop on and fly! <br><br>

            Our exquisite, relishing services are well curated to delight both multinationals, large national enterprises, small - medium sized enterprises, public and private sectors all over West Africa and the world. <br><br>

            Presently (and even undisputably in the nearest future), HOTAB Solutions is a leading professional services firm, specializing in business consult and branding, internet marketing services, risk advisory, financial advisory services and software and web applications deployment services. Best call us a pacesetter and frontier firm, we serve clients in a variety of industries from financial services, consumer, telecommunications, media and technology, energy resources and industrial and government and public services. <br> <br>

            Our experts are collectively brought together under an harmonious roof by a joint, collaborative culture that mirrors sheer integrity cum discipline, outstanding value to markets and clients, commitment to each other and tapped strengths from cultural diversity. Driven by a mutual goal to enforce corporate responsibility, build public trust and stamp a positive impact in the community and vast territory at large. <br> <br>

            Here in HOTAB Solutions, we've beyond words but deliberate actions ensured our professionals cum employees hold the very best of interests as regards work and life to heart, hence our unflinching promise to support them in every endeavors of their lives. <br><br>

            Our gifted yet skilled experts understand the need to learn and unlearn more as no one is strong enough to posit as a universal island. Yet even within this learning process, there is evident strength put in development quest and most importantly, seeing to the very last of the trump card that HOTAB Solutions does not fall short of any of her promises except if to even exceed tremendously, as it's our culture. <br><br>


        </p>
        </div>
    </section>

    

    <section class="contact">
        <div class="conatiner">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h3 class="section-heading-2">Contact Us</h3>
                    <p class="section-sub">Let us handle your project, professionally.</p>
                    
                    <form action="" method="post" class="contact-form">
                        <div class="form-group">
                            <input type="email" name="" id="" placeholder="Your email address">
                        </div>
                        <div class="form-group">
                            <input type="email" name="" id="" placeholder="Your name / company's name">
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn-form">GET IN TOUCH</button>
                            <div class="clear"></div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="side-about col-md-6">
                    <div class="logo-box">
                        <img style="width: 6em;" src="./assest/home/img/logo2.png"  alt="">
                            
                    </div>
    
                    <div class="para-sm-box">
                        <p class="para-sm">
                            A leading firm, with utmost specialty in providing your business with the best and most effective of prospects and schemes to make it grow even beyond your imagination.
                        </p>
                    </div>
    
                    
                </div>
    
                <div class="side-socials col-md-6">
                    <div class="side-socials-1">
                        <h5>Company</h5>
                        <ul>
                            <li>
                                <a href="">About us</a>
                            </li>
                            <li>
                                <a href="">Our Services</a>
                            </li>
                            <li>
                                <a href="">Blog</a>
                            </li>
                            <li>
                                <a href="">Contact us</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="side-socials-1">
                        <h5>Social</h5>
                        <ul>
                            <li>
                                
                                
                                    
                                <a href="" class="social-icon">
                                    
                                    <p class="icon-text">Facebook</p>
                                </a>
                            </li>
                            <li>
                                
                                    
                                <a href="" class="social-icon">
                                    
                                    <p class="icon-text">Twitter</p>
                                </a>
                            </li>
                            <li>
                               
                                    
                                <a href="" class="social-icon">
                                    
                                    <p class="icon-text">Email</p>
                                </a>
                            </li>
                            <li>
                                
                                    
                                <a href="" class="soial-icon">
                                    <p class="icon-text">+2348181400105</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="container ">
            <div class="row">
                <p class="copy-right col-md-6 mat-20">
                    Copyright © 2020. HOTAB Solutions. All rights reserved.
                </p>
                <div class="col-md-2"></div>
                <p class="copy-right col-md-4 mat-20">
                    9, Ugochukwu Duru Street, Lekki, Lagos.
                </p>
            </div>
        </div>
    </footer>
    <!-- </div> -->
    <!-- <script src="css/bootstrap-4.5.2-dist/js/bootstrap.js"></script> -->
    
</body>
</html>