<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Hotlab - Blog</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
          <img style="width: 6em;" src="img/Logo.png" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutus.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Our Services</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="blog.html">Blog</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="index.html?#contactus">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
      <section class="blog-banner">
        <div class="card" style="width: 100%;">
          <img src="./img/Image.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Importance of branding to business</h5>
            <p class="card-text">
              Businesses can be for-profit entities or they can be organizations
              that operate to fulfill a charitable mission or further a social
              cause.
            </p>
            <a href="#" class="btn btn-link"
              >Read more
              <svg
                width="24"
                height="12"
                viewBox="0 0 24 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.937483 5.06256H20.7918L17.5028 1.78957C17.1358 1.42432 17.1344 0.830744 17.4997 0.46376C17.8649 0.0967293 18.4586 0.0953703 18.8255 0.460573L23.7242 5.33556C23.7245 5.33585 23.7247 5.33617 23.725 5.33645C24.0911 5.7017 24.0922 6.2972 23.7251 6.66367C23.7248 6.66395 23.7245 6.66428 23.7243 6.66456L18.8256 11.5396C18.4587 11.9047 17.8651 11.9034 17.4998 11.5364C17.1345 11.1694 17.1359 10.5758 17.5029 10.2106L20.7918 6.93756H0.937483C0.419703 6.93756 -1.71661e-05 6.51784 -1.71661e-05 6.00006C-1.71661e-05 5.48228 0.419703 5.06256 0.937483 5.06256Z"
                  fill="#2F80ED"
                />
              </svg>
            </a>
          </div>
        </div>
      </section>
      <section class="blog-more">
        <div class="row">
          <div class="blog col-lg-4 col-md-12 col-sm-12">
            <div class="card" style="width: 100%;">
              <img src="./img/Image (1).png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Title tip</h5>
                <p class="card-text">
                  Businesses can be for-profit entities or they can be
                  organizations that operate to fulfill a charitable mission or
                  further a social cause.
                </p>
                <a href="#" class="btn btn-link"
                  >Read more
                  <svg
                    width="24"
                    height="12"
                    viewBox="0 0 24 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0.937483 5.06256H20.7918L17.5028 1.78957C17.1358 1.42432 17.1344 0.830744 17.4997 0.46376C17.8649 0.0967293 18.4586 0.0953703 18.8255 0.460573L23.7242 5.33556C23.7245 5.33585 23.7247 5.33617 23.725 5.33645C24.0911 5.7017 24.0922 6.2972 23.7251 6.66367C23.7248 6.66395 23.7245 6.66428 23.7243 6.66456L18.8256 11.5396C18.4587 11.9047 17.8651 11.9034 17.4998 11.5364C17.1345 11.1694 17.1359 10.5758 17.5029 10.2106L20.7918 6.93756H0.937483C0.419703 6.93756 -1.71661e-05 6.51784 -1.71661e-05 6.00006C-1.71661e-05 5.48228 0.419703 5.06256 0.937483 5.06256Z"
                      fill="#2F80ED"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="blog col-lg-4 col-md-12 col-sm-12">
            <div class="card" style="width: 100%;">
              <img src="./img/Image (2).png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Importance of branding to business</h5>
                <p class="card-text">
                  Businesses can be for-profit entities or they can be
                  organizations that operate to fulfill a charitable mission or
                  further a social cause.
                </p>
                <a href="#" class="btn btn-link"
                  >Read more
                  <svg
                    width="24"
                    height="12"
                    viewBox="0 0 24 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0.937483 5.06256H20.7918L17.5028 1.78957C17.1358 1.42432 17.1344 0.830744 17.4997 0.46376C17.8649 0.0967293 18.4586 0.0953703 18.8255 0.460573L23.7242 5.33556C23.7245 5.33585 23.7247 5.33617 23.725 5.33645C24.0911 5.7017 24.0922 6.2972 23.7251 6.66367C23.7248 6.66395 23.7245 6.66428 23.7243 6.66456L18.8256 11.5396C18.4587 11.9047 17.8651 11.9034 17.4998 11.5364C17.1345 11.1694 17.1359 10.5758 17.5029 10.2106L20.7918 6.93756H0.937483C0.419703 6.93756 -1.71661e-05 6.51784 -1.71661e-05 6.00006C-1.71661e-05 5.48228 0.419703 5.06256 0.937483 5.06256Z"
                      fill="#2F80ED"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="blog col-lg-4 col-md-12 col-sm-12">
            <div class="card" style="width: 100%;">
              <img src="./img/Image (3).png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Importance of branding to business</h5>
                <p class="card-text">
                  Businesses can be for-profit entities or they can be
                  organizations that operate to fulfill a charitable mission or
                  further a social cause.
                </p>
                <a href="#" class="btn btn-link"
                  >Read more
                  <svg
                    width="24"
                    height="12"
                    viewBox="0 0 24 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M0.937483 5.06256H20.7918L17.5028 1.78957C17.1358 1.42432 17.1344 0.830744 17.4997 0.46376C17.8649 0.0967293 18.4586 0.0953703 18.8255 0.460573L23.7242 5.33556C23.7245 5.33585 23.7247 5.33617 23.725 5.33645C24.0911 5.7017 24.0922 6.2972 23.7251 6.66367C23.7248 6.66395 23.7245 6.66428 23.7243 6.66456L18.8256 11.5396C18.4587 11.9047 17.8651 11.9034 17.4998 11.5364C17.1345 11.1694 17.1359 10.5758 17.5029 10.2106L20.7918 6.93756H0.937483C0.419703 6.93756 -1.71661e-05 6.51784 -1.71661e-05 6.00006C-1.71661e-05 5.48228 0.419703 5.06256 0.937483 5.06256Z"
                      fill="#2F80ED"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-"></div>
        <button type="button" class="btn btn-primary btn-lg btn-view">
          View All
          <svg
            width="24"
            height="12"
            viewBox="0 0 24 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.937483 5.06256H20.7918L17.5028 1.78957C17.1358 1.42432 17.1344 0.830744 17.4997 0.46376C17.8649 0.0967293 18.4586 0.0953703 18.8255 0.460573L23.7242 5.33556C23.7245 5.33585 23.7247 5.33617 23.725 5.33645C24.0911 5.7017 24.0922 6.2972 23.7251 6.66367C23.7248 6.66395 23.7245 6.66428 23.7243 6.66456L18.8256 11.5396C18.4587 11.9047 17.8651 11.9034 17.4998 11.5364C17.1345 11.1694 17.1359 10.5758 17.5029 10.2106L20.7918 6.93756H0.937483C0.419703 6.93756 -1.71661e-05 6.51784 -1.71661e-05 6.00006C-1.71661e-05 5.48228 0.419703 5.06256 0.937483 5.06256Z"
              fill="#ffffff"
            />
          </svg>
        </button>
      </section>

      <section class="contact">
        <div class="row-center">
          <div class="contact-box">
            <h2 class="form-heading text-center">Contact Us</h2>
            <p class="form-head-text text-center">
              Let us handle your project, professionally.
            </p>
            <form action="" method="post">
              <div class="form-group">
                <input
                  type="email"
                  name=""
                  id=""
                  placeholder="Your email"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  name=""
                  id=""
                  placeholder="Your name / company's name"
                />
              </div>
              <div class="form-group">
                <textarea
                  name=""
                  placeholder="Your message"
                  id=""
                  cols="30"
                  rows="10"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-contact">
                Submit
              </button>
              <div class="clear"></div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <div class="container">
        <div class="row footer-row">
          <div class="col-lg-5 col-md-5 col-sm-12">
            <img
              style="width: 4em; height: 1em;"
              src="./img/Logo.png"
              class="footer-logo"
              alt=""
            />
            <p class="footer-text">
              A leading firm, with utmost specialty in providing your business
              with the best and most effective of prospects and schemes to make
              it grow even beyond your imagination.
            </p>
          </div>
          <div class="col-lg-2 col-md-2"></div>
          <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="row-me">
              <div class="col-md-6 col-sm-3">
                <h3 class="social-head">
                  Company
                </h3>
                <ul class="footer-nav">
                  <li>
                    <a href="">About us</a>
                  </li>
                  <li>
                    <a href="">Our Services</a>
                  </li>
                  <li>
                    <a href="">Blog</a>
                  </li>
                  <li>
                    <a href="">Contact Us</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 col-sm-2">
                <h3 class="social-head">
                  Socials
                </h3>
                <ul class="footer-nav">
                  <li>
                    <a href="">
                      Facebook
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Twitter
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Email
                    </a>
                  </li>
                  <li>
                    <a href="">
                      +2348181400105
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <p class="footer-copy-add" style="text-align: center;">
              Copyright &copy; 2020. HOTAB Solutions. All rights reserved.
            </p>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <p class="footer-copy-add" style="text-align: center;">
              9, Ugochukwu Duru Street, Lekki, Lagos.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
