<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Hotab | Contact US</title>
  <link rel="shortcut icon" type="image/jpg" href="./assest/img/fav.png"/>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="./assest/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="./assest/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href="./assest/css/style.css" rel="stylesheet">
</head>

<body class="what">

    <!-- move to top button -->
    <a class="topbtn z-depth-2" id="myBtn" onclick="topFunction()" title="Go to top"><i class="fas fa-arrow-up"></i></a>
        
  <!--Main Navigation-->
  <header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light white fixed-top ">

      <div class="container">

        <!-- Navbar brand -->
        <a class="navbar-brand font-weight-bold black-text fadeInDown animated slow" href="#"><img style="width: 10em;" src="./assest/img/logo2.png"  alt=""></a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item pr-3  fadeInDown animated slow">
              <a class="nav-link black-text whatd font-weight-bold" href="/">Home</a>
            </li>
            <li class="nav-item pr-3  fadeInDown animated slow">
              <a class="nav-link black-text whatd font-weight-bold" href="aboutus.html">About Us</a>
            </li>
            <li class="nav-item pr-3  fadeInDown animated slow">
              <a class="nav-link black-text  whatd  font-weight-bold" href="services.html">Our Service</a>
            </li>
            <li class="nav-item pr-3  fadeInDown animated slow">
              <a class="nav-link black-text  whatd  font-weight-bold" href="blog.html">Blog</a>
            </li>
            <li class="nav-item  fadeInDown animated slow">
              <a class="nav-link black-text  whatd  font-weight-bold" href="/contactus.html">Contact</a>
            </li>
            <li class="nav-item  fadeInDown animated slow">
              <a class="nav-link black-text  whatd  font-weight-bold" href="/product.html">Products</a>
            </li>
          </ul>
          <!-- Links -->

        </div>
        <!-- Collapsible content -->

      </div>

    </nav>
    <!--/.Navbar-->


<!-- progress bar -->
<div class="progress-container">
  <div class="progress-bar" id="myBar"></div>
</div>
 <!-- progress bar -->



    <!--Mask-->
    <div id="intro" class="view"  data-aos="fade">
      


      <div class="mask rgba-blue-light">
        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

          <div class="row d-flex justify-content-center text-center">

              <div class="col-md-10" >
               
                          <!-- Heading -->
                          <div data-aos="zoom-in">
                            <h2 class="font-weight-bold intor white-text pt-5 mb-2">Contact HOTLAB Solutions</h2>

                            <!-- Divider -->
                            <hr class="hr-light">
          
                            <!-- Description -->
                            <h4 class="white-text my-4 whatde">A leading firm with utmost specialty in providing your business with the best and most effective of prospects and schemes to make it grow even beyond your imagination.</h4>
                           
                          </div>
                  
                  </div>
                

              

          </div>

      </div>

          
      </div>
    </div>
    
    <!--/.Mask-->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main>



<!-- contact us section -->
  <div class="container" data-aos="fade">
<div class="contain mt-5">
    <h3 class="text-center wey">Contact Us</h3>
    <p class="text-center griy font-weight-bold">Let us handle your project, professionally</p>
    <form action="" class="">
      <div class="form-group">
        <label class="sr-only">Email</label>
        <input type="text" class="form-control" placeholder="Your email address">
    </div>
      <div class="form-group">
          <label class="sr-only">Name</label>
          <input type="text" class="form-control" placeholder="Your name / company's name">
      </div>
      <div class="form-group">
        <label class="sr-only">message</label>
          <textarea name="" placeholder="Your message" id="" class="form-control" cols="30" rows="10"></textarea>
       </div>
    </form>
  <p class="text-right"><a href="" class="btn btn-primary">SUBMIT</a></p>
  </div>
</div>
 
<!-- contact us section -->

  </main>
  <!--Main layout-->







  <!-- Footer -->
<footer class="page-footer font-small whit z-depth-5 mt-5" data-aos="fade">
<div class="container">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 col-sm-4 mx-auto">

        <!-- Links -->
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5> -->
        <div class="mt-1">
          <img src="./assest/img/logo2.png" style="width: 10em;" alt=""><span class="">
          <p class="mt-2 black-text">A leading firm, with utmost specialty in providing your business with the best and most effective of prospects and schemes to make it grow even beyond your imagination.</p>
        </div>
       
        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-sm-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-2 black-text">COMPANY</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="black-text">About Us</a>
          </li>
          <li>
            <a href="#!" class="black-text">Our Service</a>
          </li>
          <li>
            <a href="#!" class="black-text">Blog</a>
          </li>
          <li>
            <a href="#!" class="black-text">Contact Us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-sm-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-2 black-text">SOCIALS</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="black-text"><img src="./assest/img/Path.png" alt="" srcset=""> Facebook</a>
          </li>
          <li>
            <a href="#!" class="black-text"><img src="./assest/img/twitter.png" alt="" srcset=""> Twitter</a>
          </li>
          <li>
            <a href="#!" class="black-text"><img src="./assest/img/email.png" alt="" srcset=""> Email</a>
          </li>
          <li>
            <a href="#!" class="black-text"><img src="./assest/img/call.png" alt="" srcset="">  +2348181400105</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->



  
  <div class=" py-3 white z-depth-5 cola">
    <!-- row -->
    <div class="row">
      <!-- grid column -->
      <div class="col-md-6 text-center">
        
        <span class="black-text">Copyright © 2020 <a class="black-text" href="https://mdbootstrap.com/">HOTAB Solutions. All rights reserved</a></span>
      </div>
      <!-- grid column -->

      <!-- grid column -->
      <div class="col-md-6 text-center">
        <span class="black-text">9, Ugochukwu duku street Lekki Lagos</span> 
      </div>
      <!-- grid column -->

</div>
 <!-- row -->
</div>
  <!-- Copyright -->
</div>
<!-- contaier -->
</footer>
<!-- Footer -->


  <!-- SCRIPTS -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <!-- JQuery -->
  <script type="text/javascript" src="./assest/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="./assest/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="./assest/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="./assest/js/mdb.min.js"></script>
  <script src="./assest/js/scripts.js"></script>
  <!-- <script src="js/top.js"></script> -->
</body>

</html>
