<!DOCTYPE html>
<html class="htmle" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>HOTABS | Services</title>
  <link rel="shortcut icon" type="image/jpg" href="./assest/img/fav.png"/>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="./assest/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="./assest/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href="./assest/css/style.css" rel="stylesheet">
</head>

<body class="what bodye">
     <!-- move to top button -->
     <a class="topbtn z-depth-2" id="myBtn" onclick="topFunction()" title="Go to top"><i class="fas fa-arrow-up"></i></a>

  
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light white fixed-top">

      <div class="container">

        <!-- Navbar brand -->
        <a class="navbar-brand font-weight-bold black-text fadeInDown animated slow" href="index.html"><img style="width: 10em;" src="./assest/img/logo2.png"  alt=""></a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item pr-3  fadeInDown animated slow">
              <a class="nav-link black-text whatd font-weight-bold" href="/">Home</a>
            </li>
            <li class="nav-item pr-3  fadeInDown animated slow">
              <a class="nav-link black-text whatd font-weight-bold" href="aboutus.html">About Us</a>
            </li>
            <li class="nav-item pr-3  fadeInDown animated slow">
              <a class="nav-link black-text  whatd  font-weight-bold" href="services.html">Our Service</a>
            </li>
            <li class="nav-item pr-3  fadeInDown animated slow">
              <a class="nav-link black-text  whatd  font-weight-bold" href="blog.html">Blog</a>
            </li>
            <li class="nav-item  fadeInDown animated slow">
              <a class="nav-link black-text  whatd  font-weight-bold" href="/contactus.html">Contact</a>
            </li>
            <li class="nav-item  fadeInDown animated slow">
              <a class="nav-link black-text  whatd  font-weight-bold" href="/product.html">Products</a>
            </li>
          </ul>
          <!-- Links -->

        </div>
        <!-- Collapsible content -->

      </div>

   
    </nav>
    <!--/.Navbar-->
    

    <!-- progress bar -->
    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>
     <!-- progress bar -->




   <!-- the intro image -->
    <div id="introservice" class="view fadeInDown animated slow">
     <div class="mask rgba-blue-light">
        <div class="rower text-center">
                 <!-- Heading -->
                  <h2 class="font-weight-bold serv white-text">Our Services</h2>
                 <!-- Description -->
                  <h4 class="white-text offer">What we offer at HOTAB solutions</h4>
           </div>
         </div>
    </div>
  <!-- the intro image -->


  <!-- the services -->

  <!-- row -->
  <div class="container mt-5">
  <div class="row">



        <!-- branding-->
            <div class="col-md-6 mb-5 fadeInLeft animated slow">
                <img src="./assest/img/Vector.jpg" alt="">
           
                <h4 class="my-4 heading">Branding</h4>
                <p class="grey-text dear">Here at HOTAB Solutions, we help business develop amazing identity experience to further announce their virtual presence. Be rest assured that we would position your products to the right clients and equally convince them on why it's the best choice.</p>
            </div>
      
         <div class="col-md-6 mb-5 fadeInRight animated slow">
                <img src="./assest/img/Image.png" class="img-fluid text-center z-depth-2" alt="" srcset="">
        </div>
      <!-- branding -->


        <!-- consultancy-->
        <div class="col-md-6 mb-5" data-aos="zoom-in">
            <img src="./assest/img/Image (1).png" class="img-fluid text-center z-depth-2" alt="" srcset="">
        </div>
  

     
     <div class="col-md-6 mb-5" data-aos="zoom-in">
        <img src="./assest/img/Vector-4.jpg" alt="">
       
        <h4 class="my-4 heading">Consultancy</h4>
        <p class="grey-text dear">Here in HOTAB Solutions, we are ever ready to assist you in curtailing any potential risk that might serve as a threat to your business. With our ever vibrant professionals, you can equally be rest assured of delightful travel experiences through best choice mediums, favorable dates and fantastic discounts. </p>
    </div>
  <!-- consultancy -->



  <!-- Webinar-->
  <div class="col-md-6 mb-5" data-aos="fade-right">
    <img src="./assest/img/Vector-2.jpg" alt="">

    <h4 class="my-4 heading">Webinar</h4>
    <p class="grey-text dear">We will, from time to time, help you create stunning webinars as a point of attraction for your clients to promote your services, update them on upgrades, garner real-time responses for evaluation and equally earn with ease while practically soft selling. </p>
</div>



<div class="col-md-6 mb-5" data-aos="fade-left">
    <img src="./assest/img/Image (2).png" class="img-fluid text-center z-depth-2" alt="" srcset="">

</div>
<!--Webinar-->



 <!-- Online Tranings-->
 <div class="col-md-6 mb-5" data-aos="zoom-in">
    <img src="./assest/img/Image (3).png" class="img-fluid text-center z-depth-2" alt="" srcset="">
   
</div>



<div class="col-md-6 mb-5" data-aos="zoom-in">
    <img src="./assest/img/Vector-8.png" alt="">
    <h4 class="my-4 heading">Online Tranings</h4>
    <p class="grey-text dear">At an extremely flexible workstate, we would guide you with online trainings that are certain to bring in jawdroppping turnovers while making sure that your business is not left out in the giobal village Dynamics.</p>
</div>
<!--Online Tranings-->




 <!-- Web Application Developent-->
 <div class="col-md-6 mb-5" data-aos="fade-right">
    <img src="./assest/img/Vector-1.jpg" alt="">

    <h4 class="my-4 heading">Web Application Developent</h4>
    <p class="grey-text dear">With one of our concerns being a conducive selling point, we are ever ready to assist you in creating hitch free websites that could pass as a virtual market, of which your clients are at liberty to transact seamlessly and even enjoy ample response rate.</p>
</div>



<div class="col-md-6 mb-5" data-aos="fade-left">
    <img src="./assest/img/Image (4).png" class="img-fluid text-center z-depth-2" alt="" srcset="">

</div>
<!--Web Application Developent-->


<!-- Mobile Application Development-->
<div class="col-md-6 mb-5" data-aos="zoom-in">
    <img src="./assest/img/Image (5).png" class="img-fluid text-center z-depth-2" alt="" srcset="">
   
</div>



<div class="col-md-6 mb-5" data-aos="zoom-in">
    <img src="./assest/img/Vector-9.png" alt="">

    <h4 class="my-4 heading">Mobile Application Development</h4>
    <p class="grey-text dear">The expert team at HOTAB Solutions are ever ready to help you disseminate informations, push notifications and create an interactive, engaging medium with your clients through easy peasy, wireless softwares.</p>

</div>
<!--Mobile Application Development-->




 <!--Bulk SMS-->
 <div class="col-md-6 mb-5" data-aos="fade-right">
    <img src="./assest/img/Vector-10.png" alt="">

    <h4 class="my-4 heading">Bulk SMS</h4>
    <p class="grey-text dear">We can help you top up your competitive edge, through low cost information medium package that can reach a vast number of people within the speed of light. With 80% audience rate response quite guaranteed, you would even enjoy super return on investments, as opposed to traditional publishing. </p>
</div>



<div class="col-md-6 mb-5" data-aos="fade-left">
    <img src="./assest/img/Image (4).png" class="img-fluid text-center z-depth-2" alt="" srcset="">

</div>
<!--Bulk SMS-->




<!-- Internet Advert-->
<div class="col-md-6 mb-5" data-aos="zoom-in">
    <img src="./assest/img/Image (7).png" class="img-fluid text-center z-depth-2" alt="" srcset="">
   
</div>



<div class="col-md-6 mb-5" data-aos="zoom-in">
    <img src="./assest/img/Vector-11.png" alt="">

    <h4 class="my-4 heading">Internet Advert</h4>
    <p class="grey-text dear">With enough availability of well tailored strategies for publicity, we'd help get across to your customers using the digital media. We can assure you of being able to cover demographic statistics and equally influence your client's purchase psychology.</p>

</div>
<!--Internet Advert-->






<!--Jobs-->
<div class="col-md-6 mb-5" data-aos="fade-right">
    <img src="./assest/img/Vector-12.png" alt="">

    <h4 class="my-4 heading">Jobs</h4>
    <p class="grey-text dear">Having recognised how vital smooth work flow is to your business growth, we'd consistently inculcate ethics, work values and the need for transparency into your work environment, this would no doubt birth low turnovers and daunting innovations needed to accelerate your business to the next stage. </p>
</div>



<div class="col-md-6 mb-5" data-aos="fade-left">
    <img src="./assest/img/Image (8).png" class="img-fluid text-center z-depth-2" alt="" srcset="">

</div>
<!--Jobs-->










  </div>
    <!-- row -->
</div>

  <!-- the services -->






<!-- contact us section -->
  <div class="container" data-aos="fade">
<div class="contain mt-5">
    <h3 class="text-center wey">Contact Us</h3>
    <p class="text-center griy font-weight-bold">Let us handle your project, professionally</p>
    <form action="" class="">
      <div class="form-group">
        <label class="sr-only">Email</label>
        <input type="text" class="form-control" placeholder="Your email address">
    </div>
      <div class="form-group">
          <label class="sr-only">Name</label>
          <input type="text" class="form-control" placeholder="Your name / company's name">
      </div>
      <div class="form-group">
        <label class="sr-only">message</label>
          <textarea name="" placeholder="Your message" id="" class="form-control" cols="30" rows="10"></textarea>
       </div>
    </form>
  <p class="text-right"><a href="" class="btn btn-primary">SUBMIT</a></p>
  </div>
</div>
 
<!-- contact us section -->

  </main>
  <!--Main layout-->







  <!-- Footer -->
<footer class="page-footer font-small whit z-depth-5 mt-5" data-aos="fade">
<div class="container">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mx-auto">

        <!-- Links -->
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5> -->
        <div class="mt-3">
          <img src="./assest/img/logo2.png" style="width: 10em;" alt=""><span class="">
          <p class="mt-2 black-text">A leading firm, with utmost specialty in providing your business with the best and most effective of prospects and schemes to make it grow even beyond your imagination.</p>
        </div>
       
        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-2 black-text">COMPANY</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="black-text">About Us</a>
          </li>
          <li>
            <a href="#!" class="black-text">Our Service</a>
          </li>
          <li>
            <a href="#!" class="black-text">Blog</a>
          </li>
          <li>
            <a href="index.html?contactus" class="black-text">Contact Us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-2 black-text">SOCIALS</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="black-text"><img src="./assest/img/Path.png" alt="" srcset=""> Facebook</a>
          </li>
          <li>
            <a href="#!" class="black-text"><img src="./assest/img/twitter.png" alt="" srcset=""> Twitter</a>
          </li>
          <li>
            <a href="#!" class="black-text"><img src="./assest/img/email.png" alt="" srcset=""> Email</a>
          </li>
          <li>
            <a href="#!" class="black-text"><img src="./assest/img/call.png" alt="" srcset="">  +2348181400105</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->



  
  <div class=" py-3 white z-depth-5 cola">
    <!-- row -->
    <div class="row">
      <!-- grid column -->
      <div class="col-md-6 text-center">
        
        <span class="black-text">Copyright © 2020 <a class="black-text" href="https://mdbootstrap.com/">HOTAB Solutions. All rights reserved</a></span>
      </div>
      <!-- grid column -->

      <!-- grid column -->
      <div class="col-md-6 text-center">
        <span class="black-text">9, Ugochukwu duku street Lekki Lagos</span> 
      </div>
      <!-- grid column -->

</div>
 <!-- row -->
</div>
  <!-- Copyright -->
</div>
<!-- contaier -->
</footer>
<!-- Footer -->

  <!-- SCRIPTS -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <script src="js/scripts.js"></script>
  <!-- <script src="js/top.js"></script> -->
</body>

</html>
